@{
    ViewData["Title"] = "Home";
}

<div class="gaffa">
    <div class="search wrapper">
        <div class="search-inner wrapper-inner">
            <div class="search-inner-input">
                <input id="parsePlateInput" placeholder="ABC 123" type="text" />
                <button id="parsePlateButton">✅</button>
            </div>
        </div>
    </div>
    <div id="results" class="results wrapper">
        <div class="results-inner wrapper-inner">
            <div id="resultItems">

            </div>
            <div class="results-footer">
                <a href="#" class="button">
                    ⬅️ Back
                </a>
            </div>
        </div>
    </div>
</div>